# Servidor
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=raizes_nordeste_secret_key_2026
JWT_EXPIRES_IN=1d

# Banco de Dados PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=raizes_nordeste
DB_USER=postgres
DB_PASSWORD=postgres123

# Fidelidade
PONTOS_POR_REAL=1
VALOR_POR_PONTO=0.10
